{% extends 'users/base.html' %}
{% block content %}

<div class="header">
  <div>
    <a style="font-size: 20px; text-decoration: none" href="{% url 'profile' %}">&#x25C4;</a>
  </div>
</div>

<div class="form-group">
  <form method="post">
    {% csrf_token %}
    <div>
      <label>Phone</label>
      {{ profile_form.phone }}
    </div>
    <div>
      {{ email_form.email.label_tag }}
      {{ email_form.email }}
    </div>
    <input style="margin-top: 15px;" class="button" type="submit" value="Save Changes">
  </form>
</div>

{% endblock content %}