{% extends 'products/base.html' %}
{% load static %}

{% block content %}

<div class="header">
  <div>
    <h2>Products</h2>
    <!-- <a style="font-size: 20px; text-decoration: none" href="">&#x25C4;</a> -->
  </div>
</div>

<div class="grid-container">
  {% for product in products %}
  <div class="card">
    <img src="{% static 'images/' %}{{ product.image_filename }}" alt="{{ product.name }}">
    <div class="card-body">
      <h5 class="card-title"><a href="{% url 'product-detail' product.pk %}">{{ product.name }}</a></h5>
      <p class="card-text">{{ product.description }}</p>
      <p class="card-price">Php {{ product.price }}</p>
      <p class="card-quantity">Quantity: {{ product.quantity }}</p>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
